<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />

<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles\main.css">
<script src="{{STATIC_URL}}javascript\main.js" type="text/javascript"></script>

<title>
{% block window_title %}
Virtual Deconstruction Hub
{% endblock window_title %}
</title>
 
</head>
 
<body id="body" class="home">

<header id="banner" class="body">
	<h1>
	<a href="/">Virtual Deconstruction Hub<strong>Insert Slogan here</strong></a></h1>
	<div id="banner_logo" class="body">Logo</div> 
	<nav><ul>
		{% block nav_home %}<li><a href="/">Home</a></li>{% endblock nav_home %}
		{% block nav_listings %}<li><a href="/listings">Listings</a></li>{% endblock nav_listings %}
		{% block nav_blog %}<li><a href="/blog">Blog</a></li>{% endblock nav_blog %}
		{% block nav_projects %}<li><a href="/project_ideas">Project Ideas</a></li>{% endblock nav_projects %}
		{% block nav_user %}<li><a href="/user_stories">Success Stories</a></li>{% endblock nav_user %}
		{% block nav_about %}<li><a href="/about">About</a></li>{% endblock nav_about %}
	</ul></nav>
	<input id="search_text" type="search" name="listingsearch">
	<select id="select">
  		<option value="for_sale">Items for Sale</option>
  		<option value="wanted">Wanted Items</option>
  		<option value="blog">Blog Posts</option>
  		<option value="project">Project Ideas</option>
  		<option value="user">User Posts</option>
  	</select><input id="search_button" type="submit" value="Search">
</header>

<div id="content" class="body">
{% block base_content %}

<b> Welcome to the Virtual Deconstruction Hub</b>

{% endblock base_content %}
</div>
</body>

</body>
</html>

