<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
<script  type="text/javascript" src="{{ STATIC_URL }}javascript\main.js"></script>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles\main.css">
{% block head_extra %}
<script type="text/javascript">
    $(document).ready(function() {
         window.onload = function() {
         $("#search_text").focus();
        };  
    }); 
    </script> 
{% endblock head_extra %}
<title>
{% block window_title %}{% endblock window_title %} - Virtual Deconstruction Hub
</title>
 
</head>
 
<body id="body" class="home">

<header id="banner" class="body">
	<div id="header">
	<div id="title_slogan" class="header"><h1>
	<a href="/">Virtual Deconstruction Hub<strong>Insert Slogan here</strong></a></h1>
	</div>
	<div id="banner_logo" class="header"><img src="{{ STATIC_URL }}images\header-logo.png" height="100px" width="100px"/></div>
	</div>
	<nav><ul>
		<li {% block nav_home %}{% endblock nav_home %}><a href="/">Home</a></li><li {% block nav_listings %}{% endblock nav_listings %}><a href="/listings">Listings</a></li><li {% block nav_blog %}{% endblock nav_blog %}><a href="/posts/blog">Blog</a></li><li {% block nav_projects %}{% endblock nav_projects %}><a href="/posts/proj">Project Ideas</a></li><li {% block nav_story %}{% endblock nav_story %}><a href="/posts/stry">Success Stories</a></li><li {% block nav_about %}{% endblock nav_about %}><a href="/about">About</a></li>
	</ul></nav>
	{% block nav_search %}
	<form id="header_search_form" action={% block search_action %}"/search"{% endblock search_action %} method="get" >
		<input id="search_text" type="search" name="q" value="{% if query %}{{query}}{%endif%}">
		<select id="select" name="type">
	  		<option value="list" {% block listings_option %}{% endblock listings_option %}>Listings</option>
	  		<option value="blog" {% block blog_option %}{% endblock blog_option %}>Blog Posts</option>
	  		<option value="proj" {% block proj_option %}{% endblock proj_option %}>Project Ideas</option>
	  		<option value="stry" {% block stry_option %}{% endblock stry_option %}>Success Stories</option>
	  	</select><input id="search_button" type="submit" value="Search" a>
  	</form>
  	{% endblock nav_search %}
</header>

<div id="content" class="body">

<div id="login_div" class="body">
	
{% if logparams != None %}
{%  if logparams.0  == "Login"%}
<div style="padding: 10px 0 10px 0;float:right">
 <a href="/myaccount/login?prevPage={{ request.get_full_path }}">{{logparams.0}}</a> 
 <a href= "/myaccount/signup">{{logparams.1}}</a> 
</div>
{% else %}
 <div style="padding: 10px 0 10px 40%;float:left" >
    <b>Welcome {{logparams.2}}</b>
 </div>
 <div style="padding: 10px 0 10px 0;float:right">
    <a href = "/myaccount/logout?prevPage={{ request.get_full_path }}">{{logparams.0}}</a>
    <a href = "/myaccount"> {{logparams.1}} </a>
 </div>
 {% endif %}
<hr style="width:100%" > 
{% endif %}
</div>
{% block base_content %}


{% endblock base_content %}
</div>
</body>
</html>

