<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<script  type="text/javascript" src="{{ STATIC_URL }}javascript\main.js"></script>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles\main.css">


<title>
{% block window_title %}
Virtual Deconstruction Hub
{% endblock window_title %}
</title>
 
</head>
 
<body id="body" class="home">

<header id="banner" class="body">
	<h1>
	<a href="/">Virtual Deconstruction Hub<strong>Insert Slogan here</strong></a></h1>
	<div id="banner_logo" class="body">Logo</div> 
	<nav><ul>
		<li {% block nav_home %}{% endblock nav_home %}><a href="/">Home</a></li>
		<li {% block nav_listings %}{% endblock nav_listings %}><a href="/listings">Listings</a></li>
		<li {% block nav_blog %}{% endblock nav_blog %}><a href="/posts/blog">Blog</a></li>
		<li {% block nav_projects %}{% endblock nav_projects %}><a href="/posts/proj">Project Ideas</a></li>
		<li {% block nav_story %}{% endblock nav_story %}><a href="/posts/stry">Success Stories</a></li>
		<li {% block nav_about %}{% endblock nav_about %}><a href="/about">About</a></li>
	</ul></nav>
	<input id="search_text" type="search" name="listingsearch">
	<select id="select">
  		<option value="listings">Listings</option>
  		<option value="blog">Blog Posts</option>
  		<option value="proj">Project Ideas</option>
  		<option value="stry">Success Stories</option>
  	</select><input id="search_button" type="submit" value="Search">
</header>

<div id="content" class="body">
{% comment %}
<div id="login_div" class="body">
	

This section controls what the user see's in the for login/signup prompts.
Must be passed as a param from every call to any template if we decide to use it.
{% endcomment %}

{% comment %}
{%  if logparams.0  == "Login"%}
 <a href = "/users/login">{{logparams.0}}</a> 
 <a href= "/users/signup">{{logparams.1}}</a> 
{% else %}
 <p> Welcome {{logparams.2}} </p>
 <a href = "/users/logout">{{logparams.0}}</a>
 <a href = "/users/myaccount"> {{logparams.1}} </a>
{% endif %}
</div>
{% endcomment %}

{% block base_content %}

<b> Welcome to the Virtual Deconstruction Hub</b>

{% endblock base_content %}
</div>
</body>

</body>
</html>

