{% extends "base.html" %}

{% block window_title %}
The Virtual Deconstruction Hub Blog
{% endblock window_title %}
 

{% block nav_blog %}
class="active"
{% endblock nav_blog %}
{% block nav_projects %}
{% endblock nav_projects %}
{% block nav_story %}
{% endblock nav_story %}

{% block base_content %}
{% if user == "admin"%}
<button onclick()="createPost()" >Create New Blog</button>
{%endif%}
<b> This part is static accross all blog pages, both single and lists </b>
<br />
<br />
{% block blogs_content %}

Here you will find a list of blog posts

{% endblock blogs_content %}

{% endblock base_content %}