{% extends "base.html" %}

{% block window_title %}
Home
{% endblock window_title %}
 

{% block nav_home %}
class="active"
{% endblock nav_home %}

{% block base_content %}

{% if post %}

<div id="home_blog_title"><h2>Latest News:</h2></div>
<div id="featured_blog" class="body">
	<article>
		{% if blog_photo %}
		<div id="featured_blog_figure">
			<img src="{{MEDIA_URL}}{{blog_photo.get_url}}" alt="Virtual Deconstruction Hub" />
		</div>
		{% endif %}
		<hgroup>
			<p class="date"><i>{{ post.last_modified }}</i></p>
			<h3><a href="/posts/{{post.type}}/{{ post.get_url }}">{{ post.title }}</a></h3>
		</hgroup>
		<p><pre>{{ post.text_content|truncatechars:450 }}</pre></p>
	</article>
</div>
<hr style="width:100%" >  


{% endif %}

{% if listings %}
	<div id="home_listings_title"><h2>Most Recent Listings:</h2></div>
	 	<div id="featured_listing" class="body">
 		{% for l in listings %}
 				<p class="date"><i>{{ l.last_modified }}</i></p>
			 	<h3><a href="/listings/{{ l.get_url }}">{{ l.title }}</a></h3>
				<p><pre>{{ l.text_content|truncatechars:200 }}</pre></p>
				<br />
				<hr />		 
		{% endfor %}
		</div><!-- /#featured -->
{% endif %}

{% endblock base_content %}