{% extends "posts/posts_index.html" %} 

{% block window_title %}
Create a New {{ post_type_title }} Post
{% endblock window_title %}

{% block posts_content %}

{% if form.get_type == 'PostForm' %}
<h1>Create a new post:</h1>
{% else %}
<h1>Edit {{post_type_title|lower}} post:</h1>
{% endif %}

<form id="new_post_form" action="{{ submit_action }}" method="post" onSubmit="return checkNewBlog()" enctype="multipart/form-data">
{% csrf_token %}
<input type = "hidden" name = "pictureform" id = "pictureform" value = "0"></input>
<input type = "hidden" name = "issubmit" id = "issubmit" value = "0"></input>

<div style="height:18px">
<span id = "error" style="color:red;display:none"></span>
</div>
<table>
{{ form.as_table }}

</table>
{% if addanotherprevious != None %}
{% for item in addanotherprevious %}
<li> Added {{item}} </li>

{% endfor %}

<input type="hidden" name= "notnewpost" id = "notnewpost" value = "0"></input>
<input type="hidden" name= "postid" id = "postid" value = {{postid}}></input>
<input type = "hidden" name="paragraphtag" id = "paragraphtag" value = "1"></input>
{% endif %}
<div>
<div id="pictureDiv" style="float:left;display:inline" >
{% if pictureform != None %}
{{pictureform.as_p}}
{% endif %}
</div>
<div >
<input id="addAnotherButton" type="button" onclick= "if (!addAnotherPicture()){ return false;}new_post_form.submit();" value="Add Selected Picture" />
</div>
</div>
<br />
<br />
<br />
{% block previous_pictures_added %}{% endblock previous_pictures_added %}
<input style="margin-left:20%" type="submit" value="Submit"  onclick="setSubmitTrue()"/>
{% block delete_button %}{% endblock delete_button %}
</form>
<script type="text/javascript" >
    $("#pictureDiv").find("p").css("width", "400px");
    if ($("#pictureDiv").find("ul.errorlist").find("li").first().val() != undefined)
        $("#addAnotherButton").css("margin-top", "45px");
    else
        $("#addAnotherButton").css("margin-top", "14px");
</script>
{% endblock posts_content %}

