{% extends "listings/listings_index.html" %}


{% block listings_content %}

</br> <a href="/listings/new/"> Create New Listing </a>

<div id="page_links_top" class="pagination">
    <span class="step-links">
        {% if listings.has_previous %}
            <a href="?page={{ listings.previous_page_number }}">Previous</a>
        {% endif %}
        <span class="current">
            Page {{ listings.number }} of {{ listings.paginator.num_pages }}
        </span>
        {% if listings.has_next %}
            <a href="?page={{ listings.next_page_number }}">Next</a>
        {% endif %}
    </span>
</div>
<br>

{% if listings %}

    <ul>
    {% for listing in listings %}
        <li> <a href="{{ listing.id }}"> {{ listing.title }} </a> - ({{listing.created}}) </li>
    {% endfor %}
    </ul>
    
{% else %}

    <p>No listings are available.</p>
    
{% endif %}
	
<div id="page_links_bottom" class="pagination">
    <span class="step-links">
        {% if listings.has_previous %}
            <a href="?page={{ listings.previous_page_number }}">Previous</a>
        {% endif %}
        <span class="current">
            Page {{ listings.number }} of {{ listings.paginator.num_pages }}
        </span>
        {% if listings.has_next %}
            <a href="?page={{ listings.next_page_number }}">Next</a>
        {% endif %}
    </span>
</div>

{% endblock listings_content %}






