{% extends "listings/listings_index.html" %}

{% block window_title %}
Create a new listing - Virtual Deconstruction Hub
{% endblock window_title %}


{% block listings_content %}

<h1>Edit or delete your listing:</h1>

{# context for directing to a app method call ->  <form action="{% url 'listings:submit_new' listing.id %}" method="post"> #}
<form id="edit_form" action="{{ submit_action }}" method="post" onSubmit="return checkNewPost()" enctype="multipart/form-data">
{% csrf_token %}
<input type = "hidden" name = "pictureform" id = "pictureform" value = "0"></input>
<input type = "hidden" name = "issubmit" id = "issubmit" value = "0"></input>
<input id = "deletephoto" name = "deletephoto" type = "hidden" value = ""></input>
<input id = "deletephotoyes" name = "deletephotoyes" type = "hidden" value = "false"></input>


<div style="height:18px">
<span id = "error" style="color:red;display:none"></span>
</div>
<table>
{{ form.as_table }}
</table>
{% if addanotherprevious != None %}
	{% for item in addanotherprevious %}
	<li> Added {{item}} </li>
	{% endfor %}
	
	<input type="hidden" name= "notnewlisting" id = "notnewlistingg" value = "0"></input>
	<input type="hidden" name= "listingid" id = "listingid" value = {{listingid}}></input>
	<input type = "hidden" name="paragraphtag" id = "paragraphtag" value = "1"></input>

{% endif %}
<div>
<div id="pictureDiv" style="float:left;display:inline" >
{% if pictureform != None %}
{{pictureform.as_p}}
{% endif %}
</div>
<div >
<input id="addAnotherButton" type="button" onclick= "if (!addAnotherPicture()){ return false;}edit_form.submit();" value="Add Selected Picture" />
</div>
</div>
{% if listpictures != None %}
<br /><br />
{% for item in listpictures %}
<li>  {{item.0}} <button onclick="return deletePhoto({{item.1}});">Delete Photo</button> </li>

{% endfor %}
{% endif %}
<br />
<input style="margin-left:20%" type="button" onclick="window.location.href = '/delete-verify/?listing_id={{listing.id}}&uuid={{listing.uuid}}'" value="Delete"/>
<input type="submit" value="Submit" />
</form>
<script type="text/javascript" >
    $("#pictureDiv").find("p").css("width", "400px");
    if ($("#pictureDiv").find("ul.errorlist").find("li").first().val() != undefined)
        $("#addAnotherButton").css("margin-top", "45px");
    else
        $("#addAnotherButton").css("margin-top", "14px");
</script>
{% endblock listings_content %}



