{% extends "listings/listings_index.html" %}


{% block window_title %}
{{ listing.title }}
{% endblock window_title %}

{% block listings_content %}
<div id = "posted_date" style="text-align:right">Posted: {{listing.created}}</div>

<div id="single_listing">
<h1 class="listing_detail" ><pre>{% ifequal listing.for_sale "want" %}Wanted{% else %}For Sale{% endifequal %}: {{ listing.title }} - ${{ listing.price }}</pre></h1>
<form id="listing_detail_form">
<p><pre><span id="single_listing_content">{{ listing.text_content }}</span></pre></p>
{% if listing.photo_set.all %}
	{% for photo in listing.photo_set.all %}
		<div id="single_listing_photo" align="center"><img src="{{MEDIA_URL}}{{photo.get_url}}"/></div>
   {% endfor %}
{% endif %}
<br/>


 <button formaction={{reply_action}}> Contact Listing Owner </button> <button formaction={{go_back_action}}> Go Back To Listings </button>

      <br/><br/>
 <span>Location: {{ listing.address }} {{listing.city}}</span>
{% if listing.address %}
<iframe width="760" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" 
src="https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode&q={{ address }}&aq&sll=49.251784%2C-123.11039
&sspn=0.065325%2C0.169086&doflg=ptk&ie=UTF8&hq&hnear={{ address }}%2C+Canada&t=m&z=12&iwloc=A&output=embed">
</iframe>
{% endif %}
</br>
</form>
</div>
{% endblock listings_content %}


