{% extends "listings/listings_index.html" %}

{% block window_title %}
Create a new listing - Virtual Deconstruction Hub
{% endblock window_title %}


{% block listings_content %}


{% if form.get_type == 'ListingForm' %}
<h1>Create a new post</h1>
{% else %}
<h1>Edit post</h1>
{% endif %}

{# context for directing to a app method call ->  <form action="{% url 'listings:submit_new' listing.id %}" method="post"> #}

<form id="new_post_form" action="{{ submit_action }}" method="post" onSubmit="return checkNewPost();" enctype="multipart/form-data">
{% csrf_token %}
<input type = "hidden" name = "pictureform" id = "pictureform" value = "0"></input>
<input type = "hidden" name = "issubmit" id = "issubmit" value = "0"></input>
<div style="height:18px">
<span id = "error" style="color:red;display:none"></span>
</div>
<table>
{{ form.as_table }}
</table>
{{pictureform.as_p}}
{% if addanotherprevious != None %}
{% for item in addanotherprevious %}
<li> Added {{item}} </li>

{% endfor %}

<input type="hidden" name= "notnewlisting" id = "notnewlistingg" value = "0"></input>
<input type="hidden" name= "listingid" id = "listingid" value = {{listingid}}></input>
<input type = "hidden" name="paragraphtag" id = "paragraphtag" value = "1"></input>
{% endif %}
{% if listpictures != None %}
{% for item in listpictures %}
<li>  {{item}} </li>

{% endfor %}
{% endif %}
<input type="submit" value="Submit" />
<button onclick= "return addAnotherPicture()">Add Another Picture</button>
</form>

{% endblock listings_content %}



