{% extends "listings/listings_index.html" %}


{% block window_title %}
{{ listing.title }}
{% endblock window_title %}

{% block listings_content %}


<h1>{{ listing.title }}</h1>
<ul>

     <li>Created: {{ listing.created }}</li>
     <li>Price: {{ listing.price }}</li> 
     <li>Category: {{ listing.category }}</li>
     <li>Type of listing: {{ listing.for_sale }}</li>
     <li>Location: {{ listing.location }}</li>

      <li>Description: </li> </br>
      
      	{{ listing.text_content }}
      
</ul>

</br> 
</a> <a href="/listings/contactSeller/{{listing.id}}" > Contact </a>  <a href="/listings/new/"> Create </a> <a href="/listings/"> Go Back </a>
 


{% endblock listings_content %}


