{% extends "base.html" %}

{% block window_title %}
The Virtual Deconstruction Hub
{% endblock window_title %}
 

{% block nav_home %}
class="active"
{% endblock nav_home %}

{% block base_content %}

Home/Statistics Page

{% block stats_content %}

Here you will find some statistical information

<div class="category_stat">
   <span class="survey_category_rank">
      {% load chart_tags %}
      {% chart %}
         ?chs=400x400
                 &cht=p3
                 &chd={{ category_survey_values }}
                 &chdl={{ labels }}
                 &chtt=Survey+Category+Rank
      {% endchart %}
   </span>
   
   <span class="buyer_category_rank">
      {% load chart_tags %}
      {% chart %}
         ?chs=400x400
                 &cht=p3
                 &chd={{ category_buyer_values }}
                 &chdl={{ labels }}
                 &chtt=Buyer+Category+Rank
      {% endchart %}
   </span>

   <span class="seller_category_rank">
      {% load chart_tags %}
      {% chart %}
         ?chs=400x400
                 &cht=p3
                 &chd={{ category_seller_values }}
                 &chdl={{ labels }}
                 &chtt=Seller+Category+Rank
      {% endchart %}
   </span>
      
   <span class="amount">
   	{% load chart_tags %}
      {% chart %}
      &chxt=y
   		&chbh=a,3
      &chds=0,{{ category_amount_max }}
  		&chs=300x225
   		&cht=bvs
   		&chco=aaaaaa
   		&chd={{ category_amount_values }}
   		&chdl={{ labels }}
   		&chtt=Category+Transaction+Amounts
      {% endchart %}
   </span>
 </div>

<div class="amountsellerbuyer">
	<span class="amountsellerbuyer">
   	{% load chart_tags %}
      {% chart %}
   		&chxt=y
   		&chbh=a,3
  		&chs=300x225
   		&cht=bvs
      &chco=4D89F9
  		&chds= 0,{{ successful_transaction_amount }}
  		&chts=676767,10.5
  		&chg=-1,0
      &chd=t:{{ buyer_transaction_amount }},{{ seller_transaction_amount}},{{successful_transaction_amount}}
      &chdl=Buyers|Sellers|Total
  		&chtt=Transaction+Amounts+(Average:${{average_transaction_amount}}CAD)
      {% endchart %}
   </span>
 </div>

<h1>Average Transaction Time: {{ average_transaction_time }}</h1>

<div class="succesrate">
  <span class="successrate">
    {% load chart_tags %}
      {% chart %}
      ?chxr=0,0,{{number_listings}}
      &chxt=y
      &chbh=a
      &chds=0,{{ number_listings }}
      &chs=500x300
      &cht=bvg
      &chco=A2C180,3D7930,4D89F9,C6D9fD,aaaaaa,bbbbbb
      &chd=t:{{number_buyer_surveys}}|{{number_buyer_listings}}|{{number_seller_surveys}}|{{number_seller_listings}}|{{number_surveys}}|{{number_listings}}
      &chdl=Buyer+Surveys|Buyer+Listing|Seller+Surveys|Seller+Listings|Surveys|Listings
      &chtt=Transaction+Success+Rate
      {% endchart %}
  </span>



  <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" 
      src="https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode&q={{ address }}&aq&sll=49.251784%2C-123.11039
      &sspn=0.065325%2C0.169086&doflg=ptk&ie=UTF8&hq&hnear={{ address }}%2C+Canada&t=m&z=12&iwloc=A&output=embed">
  </iframe><br />
</div>

{% endblock stats_content %}

{% endblock base_content %}