{% extends "base.html" %}

{% block window_title %}
The Virtual Deconstruction Hub
{% endblock window_title %}
 

{% block nav_home %}
class="active"
{% endblock nav_home %}

{% block base_content %}

Home/Statistics Page

{% block stats_content %}

Here you will find some statistical information

<div class="category_stat">
   <span class="survey_count">
      {% load chart_tags %}
      {% chart %}
      	?chf=a,s,000000
        ?chs=400x400
   		&cht=p3
   		&chco=3399CC 
   		&chd=s:Uf9a
   		&chd={{ category_survey_values }}
   		&chdl={{ labels }}
   		&chtt=Survey+Count
      {% endchart %}
   </span>
   
   
   
   <span class="amount">
   	{% load chart_tags %}
      {% chart %}
      	?chf=a,s,000000
        ?chs=400x400
   		&cht=p3
   		&chco=008000
   		&chd={{ category_amount_values }}
   		&chdl={{ labels }}
   		&chtt=Transaction+Amount
   		&chma=0,5,5|0,200
      {% endchart %}
   </span>
 </div
   
<div class="succesrate">
	<span class="successrate">
   	{% load chart_tags %}
      {% chart %}
      	?chf=bg,s,00000000
   		&chxt=y
   		&chbh=a,3
  		&chs=300x225
   		&cht=bvs
   		&chco=FF9900,FFCC33
  		&chds= 20,10 | 100,100
  		&chts=676767,10.5
   		&chd=t:0.2|0.1
  		&chg=-1,0
  		&chtt=Trasaction+success+rate
      {% endchart %}
   </span>
</div>

{{ form.map }}
{{ form.media.js }}


{% endblock stats_content %}

{% endblock base_content %}