{% extends "users/myaccount.html" %}

{% block account_content %}
<span id = "error" style="color:red;display:none"></span>
<form action="" method="post" onSubmit = "return onEditClick();">
  {% csrf_token %}



<div >
    <div style="line-height:25px;font-weight:bold;text-align:right;float:left;width:160px;padding-right:20px" >
        <label> First Name: </label> <br/>
        <label> Last Name: </label> <br />
        <label> New Password: </label><br />
        <label> Confirm New Password: </label><br />
        <label> Phone Number: </label> <br />
        <label> Address: </label> <br />
        <label> City: </label> <br />
        <label> Province: </label> <br />
    </div>
    <div>
        <input type = "text" name = "firstname" id = "firstname"  value="{{firstname}}" maxlength="50">  <br/> 
    <input type = "text" name = "lastname" id = "lastname" value="{{lastname}}" maxlength="50">  <br/>
    <input type="password" name = "password" id="password" > <br />
    <input type="password" name = "confirmpassword" id="confirmpassword" ><br />
    <input type = "text" onkeypress="return isNumberKey(event)" name = "phone" id = "phone" maxlength="10" value= "{{phone}}" >  <br/>
    <input type = "text" name = "address" id = "address" value= "{{address}}" maxlength="50" ><br/>
    <select name = "city" id = "city"/><br/>
        <option value = ""></option>
        <option value="Abbotsford">Abbotsford</option>
        <option value="Anmore">Anmore</option>
        <option value="Burnaby">Burnaby</option>
        <option value="Chilliwack">Chilliwack</option>
        <option value="Coquitlam">Coquitlam</option>
        <option value="Delta">Delta</option>
        <option value="Hope">Hope</option>
        <option value="Kent">Kent</option>
        <option value="Langley">Langley</option>
        <option value="Maple Ridge">Maple Ridge</option>
        <option value="Mission">Mission</option>
        <option value="New Westminster">New Westminster</option>
        <option value="North Vancouver">North Vancouver</option>
        <option value="Pitt Meadows">Pitt Meadows</option>
        <option value="Port Coquitlam">Port Coquitlam</option>
        <option value="Port Moody">Port Moody</option>
        <option value="Richmond">Richmond</option>
        <option value="Squamish">Squamish</option>
        <option value="Surrey">Surrey</option>
        <option value="Vancouver">Vancouver</option>
        <option value="West Vancouver">West Vancouver</option>
        <option value="White Rock">White Rock</option>
        <option value="Whistler">Whistler</option> 
    </select><br/>
    <select name = "province" id = "province" >
        <option value = ""></option>
        <option value="AB">Alberta</option>
        <option value="BC">British Columbia</option>
        <option value="MB">Manitoba</option>
        <option value="NB">New Brunswick</option>
        <option value="NL">Newfoundland and Labrador</option>
        <option value="NS">Nova Scotia</option>
        <option value="ON">Ontario</option>
        <option value="PE">Prince Edward Island</option>
        <option value="QC">Quebec</option>
        <option value="SK">Saskatchewan</option>
        <option value="NT">Northwest Territories</option>
        <option value="NU">Nunavut</option>
        <option value="YT">Yukon</option>
    </select><br/>
    </div>
</div>
<br />
 <script type="text/javascript">
    setDDL(document.getElementById('city'), '{{city}}');
    setDDL(document.getElementById('province'), '{{province}}');
</script>
<div style="margin-left:20%">
<input type="button" OnClick = "return cancelButton();" value="Cancel" /><input style="margin-left:20px" type="submit" value = "Save">  
</div>
</form>
{% endblock account_content %}