{% extends "base.html" %}

{% block base_content %}
 <div  class="body">
    <br />
    <div style="height:100%;width:20%;float:left">
        <ul>
            <li value="listings" style="margin: 0 0 10px 0;cursor:pointer" ><a style="text-decoration:none" href="/myaccount/profile">Profile</a></li>
            <li value="listings" style="margin: 0 0 10px 0;cursor:pointer" ><a style="text-decoration:none" href="/myaccount/listings">Listings</a></li>
            <li value="listings" style="margin: 0 0 10px 0;cursor:pointer" ><a style="text-decoration:none" href="/myaccount/blog">Blog Posts</a></li>
            <li value="listings" style="margin: 0 0 10px 0;cursor:pointer" ><a style="text-decoration:none" href="/myaccount/stry">Success Stories</a></li>
            <li value="listings" style="margin: 0 0 10px 0;cursor:pointer" ><a style="text-decoration:none" href="/myaccount/proj">Project Ideas</a></li>
        </ul>
    </div>
    
    <div style="height:100%;width:80%;margin-left:20%" >
        {% block account_content %}

        {% endblock account_content %}
    </div>
</div>
{% endblock base_content %}