

{% extends "base.html" %}

{% block head_extra %}
<script type="text/javascript">
    $(document).ready(function() {
         window.onload = function() {
         $("#email").focus();
        };  
    }); 
    </script> 
{% endblock head_extra %}

{% block base_content %}
<h1 style = "text-align:center" >Create an Account</h1>
<div  id = "signupform" class="body">
{% if errormessage != None %}
<span id= "sameusername" style="color:red;display:inline">{{errormessage}}</span><br/>
{%endif%}
<span id = "error" style="color:red;display:none"></span>
  <form action="" method="post" onSubmit = "return onSignUpClick();">
  {% csrf_token %}
  <div style="width:120px;text-align:right; float:left">
   <label style = "line-height:26px">Email:</label><br/>
   <label style = "line-height:26px">First Name:</label><br/>
   <label style = "line-height:26px">Last Name:</label><br/>
    <label style = "line-height:26px">Password:</label><br/>
    <label style = "line-height:26px">Confirm Password:</label><br/> 
    <label style = "line-height:26px">Phone Number:</label><br/>
     <label style = "line-height:26px">Address:</label><br/>
     <label style = "line-height:26px"> City: </label><br/>
     <label style = "line-height:26px">Province:</label><br/>
   </div>
   <div style = "margin-left:4px"  >
   <input type = "text" name = "email" id = "email"/><br/>
  
   <input type = "text" name = "firstname" id = "firstname"/><br/>
   <input type = "text" name = "lastname" id = "lastname"/><br/>

   <input type = "password" name = "password" id = "password"/><br/>
                 
   
   <input type = "password" name = "confirmpassword" id = "confirmpassword"/><br/>
                
   <input type = "text" onkeypress="return isNumberKey(event)" name = "phone" id = "phone"/><br/>
   
  
   <input type = "text" name = "address" id = "address"/><br/>
   
  <select name = "city" id = "city"/><br/>
    <option value="Abbotsford">Abbotsford</option>
    <option value="Anmore">Anmore</option>
    <option value="Burnaby">Burnaby</option>
    <option value="Chilliwack">Chilliwack</option>
    <option value="Coquitlam">Coquitlam</option>
    <option value="Delta">Delta</option>
    <option value="Hope">Hope</option>
    <option value="Kent">Kent</option>
    <option value="Langley">Langley</option>
    <option value="Maple Ridge">Maple Ridge</option>
    <option value="Mission">Mission</option>
    <option value="New Westminster">New Westminster</option>
    <option value="North Vancouver">North Vancouver</option>
    <option value="Pitt Meadows">Pitt Meadows</option>
    <option value="Port Coquitlam">Port Coquitlam</option>
    <option value="Port Moody">Port Moody</option>
    <option value="Richmond">Richmond</option>
    <option value="Squamish">Squamish</option>
    <option value="Surrey">Surrey</option>
    <option value="Vancouver">Vancouver</option>
    <option value="West Vancouver">West Vancouver</option>
    <option value="White Rock">White Rock</option>
    <option value="Whistler">Whistler</option> 
  </select>
  <br />
  <select name = "province" id = "province">
	<option value="AB">Alberta</option>
	<option value="BC">British Columbia</option>
	<option value="MB">Manitoba</option>
	<option value="NB">New Brunswick</option>
	<option value="NL">Newfoundland and Labrador</option>
	<option value="NS">Nova Scotia</option>
	<option value="ON">Ontario</option>
	<option value="PE">Prince Edward Island</option>
	<option value="QC">Quebec</option>
	<option value="SK">Saskatchewan</option>
	<option value="NT">Northwest Territories</option>
	<option value="NU">Nunavut</option>
	<option value="YT">Yukon</option>
</select><br/>
    </div>             
                 
                 
      <input type="submit" value="Create an Account">
  </form>

</div>
{% endblock base_content %}
