{% extends 'posts/posts_index.html' %}

{% block base_content %}
    
        {% if query %}
            <h3>Search results for "{{ query }}":</h3>

            {% for result in page.object_list %}
			<div id="featured_blog" class="body">
				<article>
					<div id="featured_blog_figure">
					{% if result.object.photo_set.all %}
						<img src="{{MEDIA_URL}}{{result.object.photo_set.all.0.get_url}}" alt="Virtual Deconstruction Hub" />
					{% else %}
			    		<img src="{{STATIC_URL}}images/header-logo.png" alt="Virtual Deconstruction Hub" class="image">
					{% endif %}
					</div>
					<hgroup>
						<h3><pre><a href="/posts/{{result.object.type}}/{{ result.object.get_url }}">{{ result.object.title|truncatechars:35 }}</a></pre></h3>
						<p><i>{{ result.object.last_modified }}</i></p>
					</hgroup>
					<p><pre>{{ result.object.text_content|truncatechars:450 }}</pre></p>
				</article>
			</div>
			<hr style="width:100%" > 
            {% empty %}
                <p>No results found.</p>
            {% endfor %}

            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;type={{post_type}}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;type={{post_type}}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
    </form>
{% endblock base_content%}