{% extends "base.html" %}

{% block window_title %}
Contact Seller - Virtual Deconstruction Hub
{% endblock window_title %}

{% block base_content %}
<h1>Contact Seller</h1>
  <form action="" method="post">
{% csrf_token %}
	  <div>
			<div style="line-height:26px;text-align:right;vertical-align:text-bottom;float:left;position:relative;width:200px;display:block" >
				<label style="font-weight:bold;padding-right:20px" >Your Email</label>
			</div>
			<div><input type="text" name="emailTxt" id="emailTxt" ></input></div>
			<br />
			<div style="line-height:26px;text-align:right;vertical-align:text-bottom;float:left;position:relative;width:200px;display:block" >
				<label style="font-weight:bold;padding-right:20px" >Email Subject</label>
			</div>
			<div><input type="text" name="emailSubject" id="emailSubject" ></input></div>
			<br />
			<div style="line-height:26px;text-align:right;vertical-align:text-bottom;float:left;position:relative;width:200px;display:block" >
				<label style="font-weight:bold;padding-right:20px" >Email Message</label>
			</div>
			<div>
				<textarea name="emailMsg" type="textarea" rows="16" style="resize:none;width:500px" id="emailMsg" ></textarea>
			</div>
			<br /><br />
			<input style="margin-left:150px" type="submit" id="sendMessageBtn" name="" value="Send Message">
	  </div>
  </form> 
{% endblock base_content %}